/* Initialization */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar CSS */

.navbar {
  margin-top: 1.5%;
}

.navbar-logo {
    float: left;
}

.navbar-options {
    float: right;
}

.navbar-options li {
    display:inline-block;
}

.navbar-options li a {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    color: var(--primary-color);
    font-weight: 500;
}

.navbar-btn {
    background-color: var(--primary-color);
    color: #ffff !important;
    border-radius: 7px;
}

