.nav-link {
    /* overwriting bootstrap */
    color: var(--primary-color) !important;
    font-weight: 600 !important;
  }
  h1 {
    color: #333;
    text-align: center;
  }

  p {
    text-align: justify;
  }

  .navbar {
    background-color: #fff; /* Update with your desired color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Update with your desired box-shadow */
  }

  .navbar-brand img {
    max-height: 30px; /* Update with your desired height */
  }

  .navbar-nav .nav-item {
    margin-right: 10px;
  }

  .navbar-btn {
    background-color: #007bff; /* Update with your desired button color */
    color: #fff; /* Update with your desired button text color */
    padding: 8px 16px;
    border-radius: 4px;
  }

  .navbar-btn:hover {
    background-color: #0056b3; /* Update with your desired hover color */
  }  