
.left-column-text-top{
  font-size: 3rem;
  margin-top: 5rem;
}

.right-column{
  margin: 1rem 0;
  padding: 25px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  line-height: 2.2;
}

.contact-details{
  margin-top: 1.5rem;
}