.nav-link {
  /* overwriting bootstrap */
  color: var(--primary-color) !important;
  font-weight: 600 !important;
}

.left-column-text-top{
  font-size: 3rem;
  margin-top: 5rem;
}

.left-column-after-heading{
  text-wrap: nowrap;
}

.right-column{
  margin: 1rem 0;
  padding: 25px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

