/* Initialization */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar CSS */

.nav-link {
    color: var(--primary-color) !important;
    font-weight: 600 !important;
}

/* Hero - Section CSS */

.cc-hero-text-left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 500;
    line-height: 1;
}