/* Initialization */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar CSS */
.navbar {
  /* overwriting bootstrap */
  background-color: #fff !important;
}

.nav-link {
  /* overwriting bootstrap */
  color: var(--primary-color) !important;
  font-weight: 600 !important;
}

/* Hero - Section CSS */

.hero-text-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-text-color);
}

.hero-text-left-up {
  font-size: 4.7rem;
  font-weight: 700;
  line-height: 1.1;
}

.hero-text-left-down {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 400;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* css for buttons are there in custom-classes.css */

/* scholarship listings */

.home-scholarship-listings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.scholarship-card {
  width: 100%;
  background-color: aliceblue;
  border-radius: 7px;
  padding: 20px;
  margin-top: 1.5rem;
}

.card-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* footer css */

.cc-footer {
  background-color: var(--primary-color);
  color: #fff;
}

/* .footer-section1 {
  font-weight: 200;
} */

.footer-wrapper {
  padding: 15px;
}
.footer-head {
  font-weight: 400;
  margin-top: 10px;
}

.footer-body {
  font-size: 0.9rem;
  margin-top: 5px;
  line-height: 1.1;
  font-weight: 200;
}

.footer-body a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}
.footer-socials {
  display: flex;
  margin-top: 15px;
}

.footer-bottom {
  background-color: #0B3955;
  color:#fff;
  display:flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 200;
}